/*
* ## Base
*/

:root {
    --default-color: #1c4670;
    --background-color: #eaeae0;
    --primary-color: #1dc690;
    --error-color: #c61d53;
}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    color: var(--default-color);
    border: none;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    width: 100%;
    height: 0.1rem;
    margin: 2rem 0rem 2rem 0rem;
    background-color: var(--default-color);
}

input {
    padding: 5px;
    transition: 0.3s all;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;

    box-shadow: 0.10rem 0.10rem 0.5rem #2789b046;
}

input:focus {
    border-color: var(--default-color);
    box-shadow: 0.25rem 0.25rem 0.5rem #2789b046;
}

.input--error, .input--error:focus {
    border-color: var(--error-color);
}

.btn {
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 6px 6px;
    color: var(--default-color);
}

.btn:hover {
    background-color: var(--primary-color);
    transition: 0.3s all;
}

.btn--success {
    background-color: var(--primary-color);
    border-color: var(--background-color);
}

.btn--success:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn--error {
    background-color: var(--error-color);
    border-color: var(--default-color);
}

.btn--error:hover {
    background-color: var(--background-color);
    color: var(--error-color);
    border-color: var(--error-color);
}

/*
* ## Todo
*/
.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.todo__input {
    margin-right: 1.5rem;
}

.todo__item {
    margin-bottom: 1rem;
}

.todo__list {
    margin-top: 2rem;
}

.todo__update {
    margin: 0rem 1rem;
}