<template>
    <p v-if="isFetching">Loading…</p>
    <p v-else-if="!isSupported">
        The geolocation is not supported by your browser.
    </p>
    <main v-else-if="dataFormated && dataFormated.city">
        <MainHeader
            :city="dataFormated.city.name"
            :country="dataFormated.city.country"
        />
        <MainSection :weather-list="dataFormated.list" />
    </main>
    <p v-else="isFetching">Loading…</p>
</template>

<script setup>
import MainHeader from './components/MainHeader.vue'
import { useGeolocation, useFetch } from '@vueuse/core'
import { computed } from 'vue'
import MainSection from './MainSection.vue'

const { isSupported, coords } = useGeolocation()

const url = computed(
    () =>
        `https://api.openweathermap.org/data/2.5/forecast?lat=${
            coords.value.latitude
        }&lon=${coords.value.longitude}&units=metric&appid=${
            import.meta.env.VITE_OPEN_WEATHER_API_KEY
        }`
)
const dataFormated = computed(() =>
    data.value ? JSON.parse(data.value) : null
)

const { isFetching, data } = useFetch(url, {
    refetch: true,
    immediate: false,
})
</script>
