<template>
    <section class="weather">
        {{}}
        <template v-for="weather in weatherList">
            <aside
                class="weather__item"
                v-if="isTwentyFourHour(weather.dt_txt)"
                :key="weather.dt_txt"
            >
                <h2>
                    {{
                        new Date(weather.dt_txt).toLocaleString('en', {
                            weekday: 'long',
                        })
                    }}
                    at
                    {{ new Date(weather.dt_txt).toLocaleTimeString('en') }}
                </h2>
                <img
                    :src="`http://openweathermap.org/img/wn/${weather.weather[0].icon}@4x.png`"
                    alt=""
                    height="300"
                    width="300"
                />
                <p>Temperature : {{ weather.main.temp }} °C</p>
                <p>Temperature felt : {{ weather.main.feels_like }} °C</p>
                <p>Wind speed : {{ weather.wind.speed }} Km/h</p>
            </aside>
        </template>
    </section>
</template>

<script setup>
const props = defineProps({
    weatherList: Array,
})

const isTwentyFourHour = (dateTime) => {
    const date = new Date(dateTime)
    return (
        date.getHours() - new Date('9/11/22 21:00').getHours() >= -2 &&
        date.getHours() - new Date('9/11/22 21:00').getHours() <= 2
    )
}
</script>
