<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The squirrel vue todo 💚🐿️</title>
    <script src="./app.js" type="module"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <h1>The squirrel vue todo 💚🐿️</h1>
        <section class="todo">
            <aside>
                <input v-model="state.newTodo" :class="['todo__input', { 'input--error': state.error }]" placeholder="Your futur todo" type="text" name="todo"
                    id="todo" @keyup.enter="addTodo">
                <button class="btn btn--success" id="add-button" @click.prevent="addTodo">Save</button>
            </aside>
            <hr>
            <section class="todo__list" id="todo-list">
                <aside class="todo__item" v-for="todo in state.todos" :key="todo.id">
                    <input type="text" :name="`todo-${todo.id}`" @keyup.enter="changeTodo(todo)" :id="`todo-${todo.id}`"
                        v-model="todo.name" />
                    <button type="button" class="btn todo__update" @click.prevent="changeTodo(todo)">Update</button>
                    <button type="button" class="btn btn--error todo__delete"
                        @click.prevent="removeTodo(todo.id)">Delete</button>
                </aside>
            </section>
        </section>
    </div>
</body>

</html>