<template>
    <header class="main-header">
        <h1>
            <GlobeAmericasIcon /> {{ props.city }},
            {{ props.country }}
        </h1>
    </header>
</template>

<script setup>
import { GlobeAmericasIcon } from '@heroicons/vue/24/solid'
const props = defineProps({
    city: String,
    country: String,
})
</script>
