/*
* ## Base
*/

:root {
    --default-color: #1c4670;
    --background-color: #eaeae0;
    --primary-color: #1dc690;
    --error-color: #c61d53;
}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    color: var(--default-color);
    border: none;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    width: 5px;
    background-color: var(--default-color);
}

input {
    padding: 5px;
    transition: 0.3s all;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;

    box-shadow: 0.10rem 0.10rem 0.5rem #2789b046;
}

input:focus {
    border-color: var(--default-color);
    box-shadow: 0.25rem 0.25rem 0.5rem #2789b046;
}

.btn {
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 6px 6px;
    color: var(--default-color);
}

.btn:hover {
    background-color: var(--primary-color);
    transition: 0.3s all;
}

.btn--success {
    background-color: var(--primary-color);
    border-color: var(--background-color);
}

.btn--success:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn--error {
    background-color: var(--error-color);
    border-color: var(--default-color);
}

.btn--error:hover {
    background-color: var(--background-color);
    color: var(--error-color);
    border-color: var(--error-color);
}

/**
* Toast
*/

.btn-toast {
    margin: 1rem;
}

.toasts {
    position: fixed;
    top: 0px;
    right: 0px;
}

.toast-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toast-options>div {
    margin: 1rem;
}

.toast {
    padding: 0.5rem 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #2789b046;
    border: 1px solid var(--primary-color);
    transition: all 0.3ms;
}

.toast:hover {
    box-shadow: 0.5rem 0.7rem 0.5rem #2789b046;
}

.toast--success {
    background-color: var(--primary-color);
    color: var(--default-color);
    border-color: var(--default-color);
}

.toast--error {
    background-color: var(--error-color);
    color: var(--default-color);
    border-color: var(--default-color);
}