/*
* ## Base
*/

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    color: #1c4670;
    border: none;
}

body {
    background-color: #eaeae0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    width: 5px;
    background-color: #1c4670;
}

/*
* ## Navbar
*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0.5rem;
    align-items: center;
    background-color: #2789b046;
    box-shadow: 0.5rem 0.5rem 2rem #2789b046;
}

nav a {
    margin-right: 1.5rem;
    font-size: 1.25rem;
    font-weight: 650;
}

.nav--mobile {
    display: none;
    flex-wrap: wrap;
}

.nav--mobile svg {
    height: 60px;
}

.nav--mobile label {
    cursor: pointer;
}

#nav-checkbox {
    display: none;
}

.nav--mobile #nav-checkbox:checked ~ div {
    height: 200px;
}

.nav--mobile > div {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: 0.3s all;
    overflow: hidden;
}

.btn {
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid #1dc690;
    border-radius: 6px 6px;
    color: #1c4670;
}

.btn:hover {
    background-color: #1dc690;
    transition: 0.3s all;
}

/*
* ## Main section
*/
main {
    margin: 4rem;
}

hr.horizontal {
    margin: 6rem auto;
    width: 100%;
    height: 1px;
}

/*
* ### Service
*/
.service {
    margin-bottom: 2rem;
}

.service__title::before {
    content: '🥜 ';
}

.service__title {
    margin-bottom: 2rem;
    font-weight: bold;
    text-shadow: 1rem 1rem 1rem #2789b046;
}

/*
* #### Dish
*/
.dish {
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
}

.dish > div {
    display: flex;
}

.dish:nth-child(odd) {
    flex-direction: row-reverse;
}

.dish:nth-child(odd) > div {
    flex-direction: row-reverse;
}

.dish__img {
    box-shadow: 0.1rem 0.1rem 2rem #2789b046;
    border-radius: 6px 6px;
    transition: 0.3s all;
}

.dish__img:hover {
    box-shadow: 0.1rem 0.1rem 4rem #2789b046;
}

.dish__separation {
    margin: 0rem 2rem;
}

.dish__title {
    margin-bottom: 2rem;
}

.dish__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dish__button {
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 2rem;
    box-shadow: 0.25rem 0.25rem 2rem #2789b046;
}

.dish__button:hover {
    box-shadow: 0.25rem 0.25rem 0.5rem #2789b046;
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }

    .nav--mobile {
        display: flex;
    }
    .dish {
        flex-direction: column !important;
    }

    .dish__separation {
        display: none;
    }

    .dish__title {
        margin-top: 2rem;
    }
}

@media (max-width: 650px) {
    main {
        margin: 1rem;
    }
}
