/*
* ## Base
*/

:root {
    --default-color: #1c4670;
    --background-color: #eaeae0;
    --primary-color: #1dc690;
}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    color: var(--default-color);
    border: none;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    width: 5px;
    background-color: var(--default-color);
}

input {
    padding: 5px;
    transition: 0.3s all;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;

    box-shadow: 0.10rem 0.10rem 0.5rem #2789b046;
}

input:focus {
    border-color: var(--default-color);
    box-shadow: 0.25rem 0.25rem 0.5rem #2789b046;
}

/*
* # Dropdown
*/

.title {
    text-shadow: 1rem 1rem 1rem #2789b046;
    margin-bottom: 5rem;
}

.dropdown__options {
    position: absolute;

    height: auto;
    max-height: 20vh;

    border-radius: 2px;
    border: var(--default-color) solid 01px;
    box-shadow: 0.5rem 0.5rem 0.5rem #2789b046;

    opacity: 0;
    overflow-y: scroll;
    cursor: default;

    transition: 0.3s all;

}

.dropdown__options>div {
    padding: 10px;
}

.dropdown__field {
    display: flex;
    align-items: center;
}

.dropdown.show .dropdown__options {
    opacity: 1;
}

.dropdown__clear {
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown.show .dropdown__options>div {
    cursor: pointer;
}

.dropdown__options>div:hover {
    background-color: var(--primary-color);
}