<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>🐿️ Home</title>
</head>

<body>
    <h1>🐿️ Welcome <%= username %>
    </h1>
    <p>
        You are now logged on this website
    </p>
</body>

</html>