<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="/js/login.js" type="module"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>
        🔒🐿️ Login
    </title>
</head>

<body>
    <main>
        <h1>Login</h1>
        <form action="#" id="login-form" class="login-form">
            <div>
                <label for="username">Nom d’utilisateur :</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" id="submit" value="Se connecter" class="btn">
        </form>
    </main>
</body>

</html>